<form class="form-horizontal">
  <div class="control-group">
    <h3>{{ _('General options') }}</h3>
    <label class="checkbox"><input type="checkbox" data-bind="checked: settings.plugins.CreatbotHeatedChamber.enablePlugin">{{ _('Enable Plugin') }}</label>
  </div>
</form>
