<h3>{{ _('CreatBot Util Options') }}</h3>

<form class="form-horizontal" onsubmit="return false;">

    <legend>Features</legend>
    <fieldset>
        <div class="control-group">
            {#<label class="checkbox">
                <input type="checkbox" data-bind="checked: sendPauseResumeCommands">
                {{ _('Send Pause/Resume Print Commands') }}
                <span class="label label-info">M6001/M6002</span>
            </label>#}

            <label class="checkbox">
                <input type="checkbox" data-bind="checked: sendStartStopCommands">
                {{ _('Send Start/End Serial Print Commands When Prints Start and Stop') }}
                <span class="label label-info">M6006/M6007</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" data-bind="checked: startStopOnPause">
                {{ _('Send Start/End Serial Print Commands When Prints Pause and Resume') }}
                <span class="label label-info">M6006/M6007</span>
            </label>

            <label class="checkbox">
                <input type="checkbox" data-bind="checked: replaceHeatedChamberCommand">
                {{ _('Replace Heated Chamber Command') }}
                <span class="label label-important">M141</span>
                <i class="fas fa-caret-right"></i>
                <span class="label label-info">M6013</span>
            </label>

            {#<label class="checkbox">
                <input type="checkbox" data-bind="checked: replaceSdCommandsWithUsb">
                {{ _('Replace SD Card with USB Disk') }}
                <span class="label label-important">M20-M32,M92</span>
                <i class="fas fa-caret-right"></i>
                <span class="label label-info">M6020-M6033</span>
            </label>#}
        </div>
    </fieldset>

    <legend>Printer Settings</legend>
    <fieldset>
        <div class="control-group">
            <label class="control-label">{{ _('Time Used') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" step="1" data-bind="
                        value: usedTime,
                        event: { blur: resetUsedTimeDisplay, focus: cancelUsedTimeDisplayReset },
                        css: { pulsate_text_opacity: usedTimeResetter() !== undefined }">
                    <span class="add-on" title="{{ _('milliseconds') }}">{{ _('ms') }}</span>
                    <button class="btn" data-bind="enable: printerState.isOperational() && usedTime(), click: sendUsedTimeCommand">
                        {{ _('Set') }}
                    </button>
                </div>
                <span class="help-inline">
                {%- trans %}
                    Set the printer's 'Time Used' using the <span class="label label-info">M6008</span> command.
                    <br>
                    Note: This setting can only be set, there is no way to show the current setting.
                {%- endtrans %}
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Registered Time') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" step="0.1" data-bind="
                        value: regTime,
                        event: { blur: resetRegTimeDisplay, focus: cancelRegTimeDisplayReset },
                        css: { pulsate_text_opacity: regTimeResetter() !== undefined }">
                    <span class="add-on" title="{{ _('seconds') }}">{{ _('s') }}</span>
                    <button class="btn" data-bind="enable: printerState.isOperational() && regTime(), click: sendRegTimeCommand">
                        {{ _('Set') }}
                    </button>
                </div>
                <span class="help-inline">
                {%- trans %}
                    Set the printer's 'Registered Time' using the <span class="label label-info">M6009</span> command.
                    <br>
                    Note: This setting can only be set, there is no way to show the current setting.
                {%- endtrans %}
                </span>
            </div>
        </div>
    </fieldset>

    <legend>Printer Profiles</legend>
    <div class="control-group">
        <fieldset class="control-group" id="creatbot-util-profile-mode">
            <label class="radio">
                <input type="radio" value="ALL" name="creatbotUtilProfileModeGroup" data-bind="checked: profileMode">
                {{ _('Enable For All Printer Profiles') }}
            </label>
            <label class="radio">
                <input type="radio" value="SELECT" name="creatbotUtilProfileModeGroup" data-bind="checked: profileMode">
                {{ _('Enable For Selected Profiles Only') }}
            </label>
        </fieldset>

        <label class="control-group">
            {{ _('Selected Profiles') }}:
            <br>
            <select class="span9" id="creatbot-util-profile-list" multiple="true" data-bind="
                disable: profileMode() === 'ALL',
                options: printerProfiles.profiles.items(),
                optionsValue: item => item.id,
                optionsText: item => item.name,
                selectedOptions: selectedProfiles,
                event: { }">
            </select>
        </label>
    </div>
</form>
