<h3>{{ _('Creatbot Util Options') }}</h3>

<form class="form-horizontal" onsubmit="return false;">

    <div class="control-group">
        <legend>Features</legend>
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.CreatbotUtil.sendPauseResumeCommands">
            {{ _('Send Pause/Resume Print Commands') }}
            <span class="label">M6001/M6002</span>
        </label>

        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.CreatbotUtil.sendStartStopCommands">
            {{ _('Send Start/End Serial Print Commands') }}
            <span class="label">M6006/M6007</span>
        </label>

        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.CreatbotUtil.replaceHeatedChamberCommand">
            {{ _('Replace Heated Chamber Command') }}
            <span class="label">M6013</span>
        </label>

        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.CreatbotUtil.replaceSdCommandsWithUsb">
            {{ _('Replace SD Card with USB Disk') }}
            <span class="label">M6020-M6033</span>
        </label>
    </div>

    <div class="control-group">
        <legend>Printer Profiles</legend>     

        <fieldset class="control-group" id="creatbot-util-profile-mode">
            <label class="radio">
                <input type="radio" value="ALL" name="creatbotUtilProfileModeGroup" data-bind="checked: settings.plugins.CreatbotUtil.profileMode" checked>
                {{ _('Enable For All Printer Profiles') }}
            </label>
            <label class="radio">
                <input type="radio" value="SELECT" name="creatbotUtilProfileModeGroup" data-bind="checked: settings.plugins.CreatbotUtil.profileMode">
                {{ _('Enable For Selected Profiles Only') }}
            </label>
        </fieldset>

        <label class="control-group">
            {{ _('Selected Profiles') }}:
            <br>
            <select class="span9" id="creatbot-util-profile-list" multiple="true" data-bind="
                options: printerProfiles.profiles.items(),
                optionsValue: item => item.id,
                optionsText: item => item.name,
                selectedOptions: settings.plugins.CreatbotUtil.selectedProfiles,
                event: { }">
            </select>
        </label>
    </div>
</form>
